[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RGraphSpace"]
	path = RGraphSpace
	url = https://github.com/sysbiolab/rgraphspace
